/*Regole generali*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    padding-top: 60px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 100%;
    display: block;
}

/*Utils*/
.border {
    border: 1px dashed black;

}

/* Dimensioni container small e big*/
.container-big {
    max-width: 1280px;
    margin: 0 auto;
}

.container-small {
    max-width: 1080px;
    margin: 0 auto;
}


/*Personalizzazione LINK*/
.linkhead {
    text-decoration: none;
    color: rgb(146, 144, 144)
}

.link-boxblue {
    background-color: blue;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
}

/*Impostazioni UL navbar*/
.ul-navbar {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

/*colori background*/

.bg-azure {
    background-color: rgb(111, 163, 212);
}

/*HEADER*/
header {
    height: 60px;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 2;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0px 20px;
}

/*MAIN sezione introduttiva*/
.content-introduction {
    display: flex;
    gap: 10px;
}

.introduction-product {
    flex-basis: 30%;
    position: relative;
}

.box-introductive-img {
    flex-basis: 70%;
}

.introductive-img {
    scale: 1.3;
    position: relative;
    left: 74px;
    top: 60px;
}

.p-introduction,
.free-trial {
    margin-bottom: 30px;
}

.fa-arrow-down {
    font-size: 2.5rem;
    position: absolute;
    bottom: 10px;
}

/*Sezione Priceplan*/
.priceplan {
    margin-top: 200px
}

h1 {
    font-size: 3.5rem;
    padding-top: 50px;
    padding-bottom: 40px;
}

h2 {
    font-size: 2.0rem;
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 15px;
}




.blue-border {
    border: 3px solid blue;

}

.fake-buttons {
    margin-top: 30px;
}

.month-button {
    margin-right: 30px;
    display: inline-block;

}

.year-button {
    display: inline-block;
}

/*Dimensioni colonne*/
.choose-plans {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 40px;
}


.plan-col {
    flex-basis: calc(100% / 3 - 100px / 3);
    box-shadow: 0cap;
}

.plan-row {
    flex-basis: 100%;
}

/*Impostazioni UL in colonna*/
.ul-col {
    list-style-type: none;
    margin-bottom: 20px;
}

.button-trial {
    margin-bottom: 25px;
}

.fa-check {
    color: blue;

}


.block {
    display: block;
}

.type-plan {
    text-align: center;
    position: relative;
}

.level-plan {
    padding: 30px 0;
    line-height: 30px;

}


.card {
    padding: 10px 20px;
}

.card-top {
    margin-bottom: 50px;
}

li {
    padding: 15px 0px;
}

h3 {
    margin-bottom: 10px;
}

.sell-office {
    position: absolute;
    top: 40px;
    right: 20px;
    color: white;
}

.bg-blue {
    background-color: blue;
}

.plan-row {
    position: relative;
}

.found-partner {
    display: flex;
    height: 500px;
}

.photo-content {
    flex-basis: 65%;
}

.partner-details {
    flex-basis: 35%;
}

/*business*/

.business-option {
    display: flex;
    flex-wrap: wrap;
    height: 1000px;
    gap: 20px
}

.business-option-col {
    flex-basis: calc(100% / 3 - 40px / 3);
}