* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Open Sans', sans-serif;
}

/*Utils*/
.border {
    border: 1px dashed black;

}

header {
    height: 80px;
    position: fixed;
    width: 100%;

}

main {
    padding-top: 60px;
}

.container-big {
    max-width: 1280px;
    margin: 0 auto;

}

.container-small {
    max-width: 1100px;
    margin: 0 auto;
}

section {
    margin-bottom: 50px;
    padding: 50px 0px;
}

/*HEADER*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
}

.bg-scheletro {
    background-color: gray;
}

/*MAIN*/
.bg-description {
    background-color: rgb(98, 170, 238);
}

h1 {
    font-size: 3.5rem;
    padding-top: 50px;
    padding-bottom: 40px;
}

.content {
    display: flex;
    gap: 10px;

}

.description-product {
    flex-basis: 30%;
}

.img-product {
    flex-basis: 70%;
}

.p-description,
.button {
    margin-bottom: 15px;
}

#reject {
    display: block;
    margin-bottom: 40px;
}

.fa-arrow-down {
    font-size: 2rem;
    padding-bottom: 10px;
}

h2 {
    font-size: 2.0rem;
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 15px;
}

.blue-border {
    border: 3px solid blue;

}

.fake-buttons {
    margin-top: 30px;
}

.month-button {
    margin-right: 30px;
    display: inline-block;

}

.year-button {
    display: inline-block;
}

/*SECTION PRICEPLAN*/
.choose-plans {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 40px;


}

.plan-col {
    flex-basis: calc(100% / 3 - 100px /3);
}

.plan-row {
    flex-basis: 100%;
}

.block {
    display: block;
}

.type-plan {
    text-align: center;
    position: relative;
}

.level-plan {
    padding: 30px 0;
    line-height: 30px;

}


.card {
    padding: 10px 20px;
}

.card-top {
    margin-bottom: 50px;
}

li {
    padding: 15px 0px;
}

h3 {
    margin-bottom: 10px;
}

.sell-office {
    position: absolute;
    top: 40px;
    right: 20px;
    color: white;
}

.bg-blue {
    background-color: blue;
}

.plan-row {
    position: relative;
}

.found-partner {
    display: flex;
    height: 500px;
}

.photo-content {
    flex-basis: 65%;
}

.partner-details {
    flex-basis: 35%;
}

/*business*/

.business-option {
    display: flex;
    flex-wrap: wrap;
    height: 1000px;
    gap: 20px
}

.business-option-col {
    flex-basis: calc(100% / 3 - 40px / 3);
}